body{
    
    padding: 0px;
    margin: 0px;
    font-family: cursive, Arial, Helvetica, sans-serif;
}

.main{
    color: white;
    background: url(/images/bg1.jpg);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}

a{
    text-decoration: none;
    color: crimson;
}
.haeder{
    background: url(/images/bgstrip.jpg);
    background-repeat: no-repeat;
    background-size:  100%;
    
    height: 100px;
    
    display: flex;
    justify-content: space-between;
    
}

.icon{

    border: 2px solid green;
    

}
.titlename{
    font-size: x-large;
    border: 2px solid yellow;
}

.contactlinks{

    border: 2px solid white;
    margin-top: 55px;
}

    
.menu{

    height: 30px;
    
    display: flex;
    justify-content: space-around;
    border: 2px solid blue;
    font-size: x-large;

}
.content{
    height: 600px;
    border: 2px solid greenyellow;

}
.footer{
    height: 40px;
    border: 2px solid white;

}
