body{
    background:      url(../../images/bg1.jpg);
    background-size:  100%;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.image{
    display: flex;
    justify-content: space-around;
}
.img{
    flex-basis: 50%;
    text-align: center;
}

h1{
    color: rgb(70, 0, 0);}
a{
    text-decoration: none;
    color: rgb(30, 255, 0);
    border: gray;
}
a:hover{
    color: rgb(243, 239, 14);
}
.haeder{
    height: 115px;
    background: url(../../images/bgstrip.jpg);
    background-size:   100%;
    display: flex;
    justify-content:  space-between;}
.titlename{
    font-size:  xx-large;
}

.contactlinks{margin-top: 70px;
}

.icon{
    margin-top: 30px;
}   
.menu{
 
    padding: 3px;
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.856);
    display:  flex;
    justify-content: space-around;
    border: 2px solid rgba(19, 187, 84, 0.705);
    font-size: x-large;
    position: sticky;
    top: 0;

}
.content{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    background-color: rgba(202, 202, 202, 0.493);
    border: 5px solid rgba(0, 0, 0, 0.726);
}

.days{
    padding: 10px;
    margin: 10px;
    border: 5px solid rgba(0, 0, 0, 0.726);
    background-color: rgba(202, 202, 202, 0.493);
    flex-basis: 50%;

}
